:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)),
    url("https://codefinity-content-media.s3.eu-west-1.amazonaws.com/code-1/react-pro/redux/goal-illustration.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: black;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #9bbaee;
  margin-right: 30px;
}

h2 + button {
  margin-right: 20px;
}

button:hover {
  background-color: #1e2635;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 600px;
}

form {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #323232;
  font-size: 14px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}

input {
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  border: 2px solid #9bbaee;
  padding: 10px;
  margin-right: 20px;
}

/* button {
  background-color: #9bbaee;
  color: white;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
} */

.remove-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 2px solid #9bbaee;
  color: #ff0b0b;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.remove-btn:hover {
  color: white;
  border-color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

li {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 10px;
}

span {
  font-size: 16px;
  font-weight: 500;
  color: #4f5e77;
}
